*,
html {
  margin: 0;
  padding: 0;
}

.navbar-container {
  background-color: rgb(15, 78, 150);
  width: 100%;
  height: 10vh;
}
.ul-navbar {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.li-navbar {
  background-color: rgb(135, 207, 255);
  list-style-type: none;
  padding: 25px;
  margin: 15px;
  color: rgb(15, 78, 150);
  font-size: 30px;
}
.li-navbar:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
  transition-delay: 0.1s;
  border-radius: 15px;
}
.a-navbar {
  color: rgb(15, 78, 150);
  text-decoration: none;
  font-weight: 800;
}
.content-container {
  background-color: rgb(15, 78, 150);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.a-content {
  width: 720px;
  height: 480px;
  background-color: rgb(135, 207, 255);
  color: rgb(15, 78, 150);
  font-size: 30px;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 80px;
  box-shadow:
    inset -1px 3px 8px 5px #1f87ff,
    2px 5px 16px 0px #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow:
    inset -1px 3px 8px 5px #1f87ff,
    2px 5px 16px 0px #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.img-content {
  width: 70%;
  height: 70%;
}
.footer-container {
  height: 10vh;
  background-color: rgb(15, 78, 150);
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1-footer {
  font: size 40px;
  color: rgb(135, 207, 255);
}
